<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main-decorator">
<head>
<title th:text="#{user.page.list.title}">Benutzerverwaltung</title>
</head>
<body>

    <div layout:fragment="main-content">
        <section class="content-header">
            <h1 th:text="#{user.page.list.title}">Benutzerverwaltung</h1>
            <div th:replace="fragments/layout-fragments::breadcrumb" ></div>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title" th:text="#{user.page.list.form}">Benutzerverwaltung</h3>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info"
                                    th:text="#{common.button.actions}">Actions</button>
                                <button type="button" class="btn btn-info dropdown-toggle"
                                    data-toggle="dropdown">
                                    <span class="caret"></span> <span class="sr-only"
                                        th:text="#{common.button.toggle_dropdown}">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" th:href="@{/user/new}"
                                        th:text="#{user.button.create}">Create New User</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="user-data-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>username</th>
                                        <th>email</th>
                                        <th>firstname</th>
                                        <th>lastname</th>
                                        <th>enabled</th>
                                        <th>userRoles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Noch keine Daten</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th>username</th>
                                        <th>email</th>
                                        <th>firstname</th>
                                        <th>lastname</th>
                                        <th>enabled</th>
                                        <th>userRoles</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <div layout:fragment="decorator-sub-page-js" th:remove="tag">
        <!-- DataTables -->
        <script src="../../plugins/datatables/jquery.dataTables.min.js"
            th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script src="../../plugins/datatables/dataTables.bootstrap.min.js"
            th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
        <script src="../../js/pages/user.js" th:src="@{/js/pages/user.js}"></script>
    </div>

    <div layout:fragment="header-css-extra" th:remove="tag">
        <!-- DataTables -->
        <link rel="stylesheet"
            href="../../plugins/datatables/dataTables.bootstrap.css"
            th:href="@{/plugins/datatables/dataTables.bootstrap.css}">

    </div>


</body>
</html>