<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/main-decorator">
<head>
<title th:text="#{genre.page.list.title}">Genreverwaltung</title>
</head>
<body>

	<div layout:fragment="main-content">
		<section class="content-header">
			<h1 th:text="#{genre.page.list.title}">Genreverwaltung</h1>
			<div th:replace="fragments/layout-fragments::breadcrumb"></div>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title" th:text="#{genre.page.list.form}">Genreverwaltung</h3>
							<div class="btn-group pull-right">
								<a type="button" style="color:white" class="btn btn-info" href="#"
									th:href="@{/genre/new}" th:text="#{genre.button.create}">Create
									New Genre</a>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<table id="genre-data-table"
								class="table table-bordered table-hover">
								<thead>
									<tr>
										<th th:text="#{genre.field.id}">id</th>
										<th th:text="#{genre.field.genre}">genre</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>noch keine daten vorhanden</td>
									</tr>
								</tbody>
								<thead>
									<tr>
										<th th:text="#{genre.field.id}">id</th>
										<th th:text="#{genre.field.genre}">genre</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>



	<div layout:fragment="decorator-sub-page-js" th:remove="tag">
		<!-- DataTables -->
		<script src="../../plugins/datatables/jquery.dataTables.min.js"
			th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
		<script src="../../plugins/datatables/dataTables.bootstrap.min.js"
			th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
		<script src="../../js/pages/genre.js" th:src="@{/js/pages/genre.js}"></script>
	</div>

	<div layout:fragment="header-css-extra" th:remove="tag">
		<!-- DataTables -->
		<link rel="stylesheet"
			href="../../plugins/datatables/dataTables.bootstrap.css"
			th:href="@{/plugins/datatables/dataTables.bootstrap.css}">

	</div>


</body>
</html>